:root {
    --color-brand-red: #b1110e;
    --color-brand-red-light: #df1b12;
    --color-brand-blue: #8dc3eb;

    --color-concrete: #f2f2f2;
    --color-rolling-stone: #7a7e80;
    --mercury: #e5e5e5;
    --color-mine-shaft: #333333;
    --color-gray: #929292;
    --color-gray-light: #d0d0d0;
    --color-silver: #c3c3c3;
    --color-silver-1: #cdcdcd;
    --color-blue: #137aaa;

    --color-white: #ffffff;
    --color-black: #000000;
}
